<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b80ab7c8-5819-4712-b5e0-dfd972d5e4e9/resourceGroups/pru15-backend/providers/Microsoft.Web/sites/pru15-backend</ResourceId>
    <ResourceGroup>pru15-backend</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://pru15-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>pru15-backend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pru15-backend</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pru15-backend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>